= simple_form_for @algorithm, remote: true do |f|
  .row.row-header
    .col-md-9
      = f.text_area :code, class: 'hide'
      .actions
        = button_tag data: { disable_with: 'Saving...' }, class: 'btn btn-primary btn-lg' do
          %span.glyphicon.glyphicon-floppy-disk
          Save
    .col-md-3
      .panel.panel-default
        .panel-heading
          %h3.panel-title Test
        .panel-body
          = link_to check_syntax_algorithm_path(@algorithm), data: { action: 'check-syntax', remote: true, disable_with: 'Checking Syntax...' }, class: 'btn btn-primary btn-block' do
            %span.glyphicon.glyphicon-play
            Run
          %div{:'data-syntax-checker-response' => true}

      .panel.panel-default
        .panel-heading
          %h3.panel-title Benchmark
        .panel-body
          = link_to benchmark_algorithm_path(@algorithm), data: { action: 'benchmark', remote: true, disable_with: 'Running...' }, class: 'btn btn-primary btn-block' do
            %span.glyphicon.glyphicon-play
            Run
          %div{:'data-benchmark-response' => true}

      .panel.panel-default
        .panel-heading
          %h3.panel-title Settings
        .panel-body
          = f.input :name
          -# = f.input :privacy
          = f.submit 'Save', data: { disable_with: 'Saving...' }, class: 'btn btn-default'
      %hr/

      = link_to 'View History', @algorithm, class: 'btn btn-default btn-sm'

:javascript
  window.algorithmId = #{@algorithm.id};