= simple_form_for @algorithm, remote: true do |f|
  .row.row-header
    .col-md-9
      .actions
        = f.submit 'Save', disable_with: 'Saving...', class: 'btn btn-info btn-block'
      = f.text_area :code, class: 'hide'
      .actions
        = f.submit 'Save', disable_with: 'Saving...', class: 'btn btn-info btn-block'
    .col-md-3
      %fieldset
        %legend Settings
        = f.input :name
        = f.input :privacy

      %fieldset
        %legend Test
        = link_to 'Check Syntax', '#'

      %hr/

      = link_to 'Show', @algorithm
      \|
      = link_to 'Back', algorithms_path
