= simple_form_for @algorithm, remote: true do |f|
  .row.row-header
    .col-md-9
      = f.text_area :code, class: 'hide'
      .actions
        = button_tag data: { disable_with: 'Saving...' }, class: 'btn btn-primary btn-lg' do
          %span.glyphicon.glyphicon-floppy-disk
          Save
        = link_to check_syntax_algorithm_path(@algorithm), data: { action: 'check-syntax', remote: true, disable_with: 'Running...' }, class: 'btn btn-primary btn-lg' do
          %span.glyphicon.glyphicon-play
          Save and Run
      %hr/
      %h4 Reference
      %pre
        %code= render 'guide'
    .col-md-3
      .panel.panel-default
        .panel-heading
          = link_to check_syntax_algorithm_path(@algorithm), data: { action: 'check-syntax', remote: true, disable_with: 'Running...' }, class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-play
            Run
        .panel-body
          %div{:'data-syntax-checker-response' => true}

      .panel.panel-default
        .panel-heading
          %h3.panel-title Benchmark
        .panel-body
          .row
            .col-sm-6
              = link_to benchmark_algorithm_path(@algorithm), data: { action: 'benchmark', remote: true, disable_with: 'Running...' }, class: 'btn btn-primary btn-block' do
                %span.glyphicon.glyphicon-play
                Run
            .col-sm-6
              .input-group
                = number_field_tag 'iterations', 20, class: 'form-control', min: 1, max: 200
                %span.input-group-addon Iterations
          %div{:'data-benchmark-response' => true}

      .panel.panel-default
        .panel-heading
          %h3.panel-title Settings
        .panel-body
          = f.input :name
          -# = f.input :privacy
          = f.submit 'Save', data: { disable_with: 'Saving...' }, class: 'btn btn-default'
      %hr/

      = link_to 'View History', @algorithm, class: 'btn btn-default btn-sm'

:javascript
  window.algorithmId = #{@algorithm.id};