%h1 Listing submissions

%table
  %tr
    %th User
    %th Game round
    %th Name
    %th
    %th

  - @submissions.each do |submission|
    %tr
      %td= submission.user
      %td= submission.game_round
      %td= submission.name
      %td= link_to 'Show', game_round_submission_path(@game_round, submission)
      %td= link_to 'Destroy', game_round_submission_path(@game_round, submission), :method => :delete, :data => { :confirm => 'Are you sure?' }