%p#notice= notice

%p
  %b User:
  = @submission.user.name
%p
  %b Game round:
  = @submission.game_round.name
%p
  %b Name:
  = @submission.name
%p
  %b Code:
  %pre
    %code= @submission.code

= link_to 'Back', game_round_submissions_path(@game_round)