.col-md-offset-4.col-md-4.text-center
  .page-header
    %h1 Sign In

  = link_to 'Sign in with EESoc account', user_omniauth_authorize_path(provider: :eesoc), class: 'btn btn-primary btn-lg btn-block'

  %hr/

  %h3 Or sign in with email
  .well
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = f.input :email, :autofocus => true
      = f.input :password
      - if devise_mapping.rememberable?
        = f.input :remember_me, as: :boolean
      %hr/
      = f.submit 'Sign In', class: 'btn btn-default btn-block'
  = render "devise/shared/links"
