<hr>
<h4>Points</h4>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-right">Player</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% $.each(points, function(player_id, player_points) { %>
      <tr>
        <td class="text-right">

          <% if (player_id == algorithmId) { %><span class="glyphicon glyphicon-chevron-right"></span><% } %>

          <% if (player_id == algorithmId) { %>
            <strong><%- names[player_id] %></strong>
          <% } else { %>
            <%- names[player_id] %>
          <% } %>

          <% if (player_id == algorithmId) { %><span class="glyphicon glyphicon-chevron-left"></span><% } %>
        </td>
        <td>
          <% if (player_id == algorithmId) { %><strong><% } %>
            <%= player_points %>
          <% if (player_id == algorithmId) { %></strong><% } %>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<h4>Results</h4>
<% $.each(results, function(i, result) { %>
  <table class="table table-bordered table-condensed">
    <thead>
      <tr>
        <th class="col-sm-6">
          <% if (result.players[0] == algorithmId) { %><span class="glyphicon glyphicon-chevron-right"></span><% } %>
          <%- names[result.players[0]] %>
          <% if (result.players[0] == algorithmId) { %><span class="glyphicon glyphicon-chevron-left"></span><% } %>
        </th>
        <th class="col-sm-6">
          <% if (result.players[1] == algorithmId) { %><span class="glyphicon glyphicon-chevron-right"></span><% } %>
          <%- names[result.players[1]] %>
          <% if (result.players[1] == algorithmId) { %><span class="glyphicon glyphicon-chevron-left"></span><% } %>
        </th>
      </tr>
      <tr>
        <th colspan="2" class="text-center">Points</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="<% if (result.points[0] >= result.points[1]) { %>success<% } %>">
          <%= result.points[0] %>
        </td>
        <td class="<% if (result.points[0] <= result.points[1]) { %>success<% } %>">
          <%= result.points[1] %>
        </td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th colspan="2" class="text-center">Moves</th>
      </tr>
    </thead>
    <tbody>
      <% $.each(result.moves, function(j, move) { %>
        <tr>
          <% for (var i = 0; i < 2; i++) { %>
            <td class="
              <% if (move[i] == 'D') { %>
                danger
              <% } else if (move[i] == 'C') { %>
                success
              <% } else { %>
                warning
              <% } %>
            ">
              <strong>
                <% if (move[i]) { %>
                  <%- move[i] %>
                <% } else { %>
                  ?
                <% } %>
              </strong>
              (<%= result.move_points[j][i] %> pts)
              <% if (result.logs[i][j]) { %>
                -
                <%- result.logs[i][j].join(', ') %>
              <% } %>
            </td>
          <% } %>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% }) %>